.DS_Store
*.cmake
# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

include/divisible/*


## Local 

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner
src/example
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTest.log
/.ccls-cache/
/Testing/
/test/test1
/examples/neo6mExample
src/sps30demo
/src/SPS30/sps30demo
/test/test_sps30Lib
/test/neo6m_test
/test/Testing/Temporary/*
/test/test_neo6m
/src/GPS/neo6mDemo
/test/test_gitwrapper
/test/GitWrapperTestDir/remote/
/test/GitWrapperTestDir/existing/
/test/GitWrapperTestDir/blank/
